@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
  --color-primary: #fc8006;
  --color-neutral: #999999;
  --color-dark: #1c1d1d;
  --color-light: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;

  --border-radius: 4px;

  --size-xxxlg: 2.5rem;
  --size-xxlg: 2rem;
  --size-xlg: 1.5rem;
  --size-lg: 1.25rem;
  --size-md: 1rem;
  --size-sm: 0.875rem;
  --size-xsm: 0.75rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
}

a {
  color: var(--color-primary);
  text-decoration: none;
  font-weight: bold;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--size-xxxlg);
  line-height: calc(1.5 * var(--size-xxxlg));
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* @media (min-width: 600px) {
  html,
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }
} */

* {
  box-sizing: border-box;
}

h1:has(.anchor),
h2:has(.anchor),
h3:has(.anchor),
h4:has(.anchor),
h5:has(.anchor),
h6:has(.anchor) {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}

.icon.icon-link {
  background-image: url('https://img.icons8.com/material-rounded/20/link--v1.png');
  display: block;
  height: 20px;
  width: 20px;
}
