@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;700&display=swap');

:root {
  --color-primary: #fc8006;
  --color-neutral: #999999;
  --color-dark: #1c1d1d;
  --color-light: #ffffff;
  --color-black: #000000;
  --color-white: #ffffff;

  --color-link: #000000;
  --color-link-underline: var(--color-primary);
  --color-link-hover: var(--color-primary);
  --color-link-active: var(--color-primary);

  --border-radius: 4px;

  --size-xxxlg: 2.5rem;
  --size-xxlg: 2rem;
  --size-xlg: 1.5rem;
  --size-lg: 1.25rem;
  --size-md: 1rem;
  --size-sm: 0.875rem;
  --size-xsm: 0.75rem;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, Helvetica Neue, sans-serif;
  font-size: 16px;
  line-height: 1.5rem;
  scroll-snap-type: y proximity;
}

a {
  color: var(--color-link);
  font-weight: bold;

  text-decoration: underline;
  text-decoration-color: var(--color-link-underline);
  text-underline-offset: 3px;

  &:hover,
  &:active {
    color: var(--color-link-hover);
  }
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  font-size: var(--size-xxxlg);
  line-height: calc(1.5 * var(--size-xxxlg));
}

h3 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}

/* @media (min-width: 600px) {
  html,
  body {
    font-size: 1.2rem;
    line-height: 2rem;
  }
} */

* {
  box-sizing: border-box;
}
